body {
background-color:#98cef0;
      }

pre{margin:0;border:0;padding:0;}
div{margin:0;border:0;padding:0;}
.div-code
{
word-wrap: break-word;
  background-color:#EFE7D6;
  width: 599px;
  border: 1px solid red;
}

ol {
display:block;
margin:0em;
list-style-position:inside;
padding:0;

}

li { 
height:0;
}

table,table tr th, table tr td {border:0.1em solid ; }
table{ border-collapse: collapse; }  
td{ width: 9em;  text-align:center; }




