
.two-panels {
    background: #EEEEEE;
}

div.two-panels {
    height: inherit;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.tree-panel {
    flex: 13vw;
    margin-left: 0px;
    height: 100%;
	font-size: 1.1em;
}

div.page-panel {
    flex: 80vw;
    margin: 0;
    padding: 0;
    font-size: 0;
}

div.page-panel iframe {
    width: 100%;
    border: 0px;
    margin-top: 0px;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

/* 
.tree li {
    white-space: nowrap;
}
*/

