<!--	chengws@outlook.com	 -->

<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="root-menu" label="Openbox 3">

  <item label="Xterm">
    <action name="Execute"><execute>/usr/X11R6/bin/xterm</execute></action>
  </item>

    <!--重新加载状态栏 -->
  <item label="RePanel">
    <action name="Execute"><execute>~/.re-fbpanel.sh</execute></action>
  </item>

    <!--重新加载openbox的配置 -->
  <item label="ReReThisMenu">
    <action name="Reconfigure" />
  </item>

    <!--退出图形界面,回到命令行.记得保存文件哟 -->
  <item label="OutToCmd">
    <action name="Exit">
    </action>
  </item>

</menu>

</openbox_menu>
