[Desktop Entry]
Name=Restart
Name[zh_CN]=重启电脑
Name[zh_HK]=重启电脑
Name[zh_TW]=重启电脑
GenericName=Reboot
GenericName[zh_CN]=重启电脑
GenericName[zh_HK]=重启电脑
GenericName[zh_TW]=重启电脑
Comment=Reboot
Comment[zh_CN]=重启电脑
Comment[zh_HK]=重启电脑
Comment[zh_TW]=重启电脑
TryExec=reboot
Exec=reboot
StartupNotify=true
Terminal=false
Type=Application
Icon=
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
